annotated-types
anyio
bcrypt==3.2.2
cffi
click
colorama
cryptography==3.4.8
dnspython
email_validator
exceptiongroup
fastapi
greenlet
h11
idna
passlib
psycopg2-binary
pycparser
pydantic==1.10.22
pydantic_core
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
